/* Navigation styling */
header {
  width: 100px;
  cursor: pointer;
}

header h1 {
  text-transform: uppercase;
}

nav li {
  margin: 10% 5%;
  border-bottom: 2px solid lightgray;
  text-transform: uppercase;
}

nav li:hover {
  border-bottom-color: #45e9f5;
}